* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body {
  overflow: hidden;
}
#canvas {
  background-color: #fff;
  position: fixed;
  display: block;
  top:0;
  left: 0;
}

.actions {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}
.actions .icon {
  margin: 0 10px;
  transition: all .3s;
  font-size: 26px;
  padding: 5px;
}
.actions .icon.active {
  /* fill: red; */
  border: 1px solid #777;
  border-radius: 13%;
  transform: scale(1.5);
}
.penSizes {
  position: fixed;
  top: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
}
.penSizes li {
  width: 20px;
  height: 10px;
  background-color: black;
  margin-top: 12px;
  transition: all .3s;
}
.penSizes li:first-of-type{
  height: 5px;
}
.penSizes li:last-of-type{
  height: 15px;
}
.penSizes li.active {
  box-shadow: 0 0 3px rgba(0, 0, 0, .6  );
  transform: scale(1.2);
}
.colors {
  position: fixed;
  top: 70px;
  right: 10px;
}
.colors > li {
  width: 20px;
  height: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  border-radius: 50%;
  margin: 10px 0;
  transition: all .3s;
}
.colors > li#red {
  background-color: red;
}
.colors > li#green {
  background-color: green;
}
.colors > li#blue {
  background-color: blue;
}
.colors > li#black {
  background-color: black;
}
.colors > li.active {
  box-shadow: 0 0 3px rgba(0, 0, 0, .6  );
  transform: scale(1.2);
}